@charset 'UTF-8';
@import 'https://fonts.googleapis.com/css?family=Harmattan';
.harmattan {
  font-family: 'Harmattan', sans-serif;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
dfn,
em,
img,
ins,
q,
strong,
small,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  text-align: left;
}

q:before,
q:after {
  content: '';
}

object,
embed {
  vertical-align: top;
}

img,
abbr,
acronym,
fieldset {
  border: 0;
}

li {
  list-style-type: none;
}

a,
label {
  cursor: pointer;
}

a:active,
a:focus {
  outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-size: 16px; 

      -ms-text-size-adjust: 100%;
}

body {
  min-width: 500px;
  color: #0e0e0e;
  background: #f9f9f9; 
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, '游ゴシック', YuGothic, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;

      -ms-text-size-adjust: 100%;
}

@-ms-viewport {
  width: device-width;
}

::-moz-selection {
  color: #fff;
  background: #0af;
}

::selection {
  color: #fff;
  background: #0af;
}

a {
  color: #0af;
}
a:link {
  color: #0af;
}
a:visited {
  color: #4dc4ff;
}
a:hover {
  color: #80d5ff;
}
a:hover img {
  opacity: 0.7;

  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}
a:active {
  color: #3bf;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.l-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0; 
  background-color: rgba(236, 236, 236, 0.8);
}
.l-header__sign-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-left: auto; 

  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
          align-items: stretch;
}
.l-header__sign-actions__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-left: 10px; 

  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
}

.p-boxes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin: 20px; 

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
          align-items: flex-start;
}

.p-box {
  padding: 10px;
  transition: all 0.1s linear; 
  border: 1px solid rgba(213, 213, 213, 0);
}
.p-box:hover {
  border-color: #d5d5d5; 
  background-color: #e7e7e7;
}
.p-box:hover .p-star {
  display: block;
}

.p-image {
  position: relative;
}

.p-star {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  padding: 0 0.5em;
  background: rgba(255, 255, 255, 0.8);
}
.p-star__button {
  cursor: pointer;
}

.post-comment.is-posting {
  color: #f0f0f0;
}

.modal {
  transition: opacity 0.2s linear;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 0;

  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
